/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.row {
    max-width: 1500px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

/* ------------------------------------- */
/* HEADINGS */
/* ------------------------------------- */

h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 350%;
    font-weight: 300;
    word-spacing: 5px;
}

h2 {
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

h2::after {
    display: block;
    content: '';
    height: 2px;
    width: 100px;
    background-color: #10ac84;
    margin: 40px auto 0 auto;
}

h3 {
    font-size: 110%;
    font-weight: 300;
    margin-bottom: 15px;
}

/* ------------------------------------- */
/* PARAGRAPHS */
/* ------------------------------------- */

.text {
    line-height: 145%;
    text-align: center;
    width: 800px;
    margin: 0 auto 50px auto;
}

.card p {
    font-size: 90%;
    line-height: 1.5;
    width: 90%;
}
/* ------------------------------------- */
/* BUTTONS */
/* ------------------------------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 80%;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #10ac84;
    margin-left: 30px;
    color: #fff;
    border: 1px solid #10ac84;
}

.btn-full:hover,
.btn-full:active {
    background-color: #0d8d6c;
}

.btn-border:link,
.btn-border:visited {
    border: 1px solid #10ac84;
    color: #10ac84;
}

.btn-border:hover,
.btn-border:active {
    background-color: #0d8d6c;
    color: #fff;
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/bg-img.jpg);
    background-size: cover;
    height: 100vh;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 200px;
    height: auto;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    transition: border-bottom .3s; 
}

.main-nav li:hover {
    border-bottom: 3px solid #10ac84;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #555;
}

/* ------------------------------------- */
/* SECTION FEATURES */
/* ------------------------------------- */

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 21%;
}

.card ion-icon {
    width: 60px;
    height: 60px;
    fill: #10ac84;
    margin-bottom: 15px;
}

/* ------------------------------------- */
/* SECTION SHOWCASE */
/* ------------------------------------- */

.section-showcase {
    padding: 0;
}

.section-showcase .img-row {
    display: flex;
}

.img-container {
    flex: 1;
    height: 375px;
    background-color: #000;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    opacity: .7;
    transform: scale(1.15);
    transition: transform 1s, opacity 1s;
}

.img-container img:hover {
    opacity: 1;
    transform: scale(1);
}


/* ------------------------------------- */
/* SECTION DOWNLOAD */
/* ------------------------------------- */

.download-row {
    display: flex;
}

.mobile,
.features {
    flex: 1;
}

.mobile {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.mobile img {
    width: 600px;
    height: auto;
    transform: rotate(20deg) translateX(-100px);
}

.features {
    margin-top: 90px;
    margin-right: -30px;
}

.single-feature {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.single-feature:nth-child(1) {
    margin-right: -80px;
}

.single-feature:nth-child(2) {
    margin-right: -40px;
}

.single-feature .num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #0d8d6c;
    border-radius: 50%;
}

.single-feature .feature-text {
    width: 60%;
    margin-right: 20px;
    font-size: 110%;
    font-weight: 300;
    line-height: 130%;
}

.features .download-btns {
    margin-top: 60px;
    margin-right: 50px;
    display: flex;
}

.download-btns a {
    display: block;
    width: 120px;
    height: 50px;
}

.download-btns a:first-child {
    margin-left: 30px;
}

.download-btns img {
    width: 100%;
    height: 100%;
}